body {
  margin: 0;
  padding: 0;
}
text {
  font-family: sans-serif;
}
.thx-graph-heading-title {
  font-weight: bold;
  font-size: 18px;
  fill: #00a9e0;
}
.thx-lifecycle-axis-tick-background {
  fill: #dadce1;
}
.thx-lifecycle-axis-tick-label {
  font-size: 13px;
  fill: #000000;
}
.thx-journeys-bg-col-even {
  fill: url(#thx-journeys-bg-col-even-gradient);
}
.thx-journeys-bg-col-odd {
  fill: transparent;
}
.thx-journeys-bg-gradient-bg {
  stop-color: #ffffff;
}
.thx-journeys-bg-gradient-even {
  stop-color: #eeeeee;
}
.thx-journeys-bg-gradient-odd {
  stop-color: #ffffff;
}
.thx-journey-label-bg {
  fill: transparent;
}
.thx-journey-label-text {
  fill: #000000;
}
.thx-journey-is-active {
  fill: #00a9e0;
}
.thx-journey-is-inactive {
  fill: #72808a;
}
.thx-journey-is-dropoff {
  fill: #c7202a;
}
