<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" standardController="Contact">

<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"></link>
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
	<c:ONE_JS_SDK structure="history" customerKey="{!contact.id}"/>
</head>
<body ng-app="CrmApp" ng-controller="CrmAppCtrl" style="margin: 20px;">

<div class="container-fluid">

	<div class="row">
		<notification-shade/>
	</div>

	<div class="row" ng-hide="notification">

		<table class="table table-striped">
			<thead>
			<tr>
				<th>Touchpoint</th>
				<th>Interaction</th>
				<th>Time Ago</th>
				<th>Status</th>
				<th>Proposition</th>
				<th>Activity Type</th>
				<th>Action Name</th>
				<th>Event Type</th>
				<th>Completion</th>
				<th>Occurrences</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="entry in structure.entries">
				<td ng-bind="entry.touchpoint"></td>
				<td ng-bind="entry.interaction"></td>
				<td am-time-ago="entry.timestamp"></td>
				<td ng-bind="entry.recognitionStatus"></td>
				<td ng-bind="entry.proposition"></td>
				<td ng-bind="entry.activityType"></td>
				<td ng-bind="entry.action"></td>
				<td ng-bind-html="entry.viewOrClick | responsetype"></td>
				<td ng-bind="entry.completion"></td>
				<td ng-bind="entry.occurrences"></td>
			</tr>
			</tbody>
		</table>

	</div>

</div>

<script>

	(function () {
		"use strict";

		var app = angular.module('CrmApp', ['OneSdkBridge', 'CrmService']);

		/**
		 * Utility filter to convert the Action types to prettier glyph+text pairs
		 */
		app.filter('responsetype', ['$sce', function ($sce) {
			return function (type) {
				var type_image = {
					'POSITIVE_CLICK': '<i class="glyphicon glyphicon-thumbs-up"></i> Positive',
					'NEGATIVE_CLICK': '<i class="glyphicon glyphicon-thumbs-down"></i> Negative',
					'NEUTRAL_CLICK': '<i class="glyphicon glyphicon-pushpin"></i> Neutral'
				}

				if (type_image[type]) {
					return $sce.trustAsHtml(type_image[type]);
				}
				else {
					return $sce.trustAsHtml('<i class="glyphicon glyphicon-eye-open"> View</i>');
				}
			};
		}]);

		app.controller('CrmAppCtrl', function ($scope, $window, $q, sdk, crmInitializer) {

			/**
			 * Sets the 'notification' object used by &lt;notification-shade&gt; to display progress, errors & warnings
			 * @param severity
			 * @param summary
			 * @param detail
			 */
			function setNotification(severity, summary, detail) {
				$scope.notification = (!severity) ? null : {
					severity: severity,
					summary: summary,
					detail: detail
				};
			}

			// show the loading spinner
			setNotification("in-progress");

			crmInitializer().then(function(crmService) {

				var structureServiceName = crmService.getPanelSetting('structure');
				var structureFormat = crmService.getPanelSetting('format');

				// get the customer key or tid to initialize the customerApi
				var customer = crmService.getCustomerInitObj();

				if (!customer) {
					setNotification("error", "No customer identifer provided", "Panel requires a customer key (or tid) to operate");
					return;
				}

				var one = sdk(crmService);

				var customerApi = one.customerApi(customer);

				customerApi.getStructureData(structureServiceName, structureFormat).then(function (response) {

					// clear notitication shade
					setNotification(null);

					$scope.structure = response;

				}).catch(function (response) {

					setNotification("error", "Error occurred for Structure: " + structureServiceName, response.statusMessage);

				});

			}).catch(function (response) {

				setNotification("error", "Error initializing CRM integration. " + response.statusMessage);

			});

		});

	}());

</script>

</body>
</html>

</apex:page>
