<head>
	<head>
	</head>
	<body>
		<h3>ONE SDK</h3>
		<p>More info to appear here shortly...</p>
		<ul>
			<li><a href="assisted/harness/harness.html?ck=foo">Standalone CRM Panels</a></li>
		</ul>
	</body>
</head>
