<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"></link>
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
	<script src="../../sdk/one-sdk.src.js"></script>
	<script src="js/one-sdk-bridge.js"></script>
	<!-- NOTE: This harness js file needs to be removed when this panel is not being used in the harness -->
	<script src="../harness/js/one-sdk-harness.js"></script>

	<style type="text/css">
		.icon {
			height: 20px;
			width: 20px;
		}
	</style>
</head>
<body ng-app="CrmApp" ng-controller="CrmAppCtrl" style="margin: 20px;">

<script>
	function Scoper($scope,$filter) {
	    $scope.s = "2012-10-16T17:57:28.556094Z";
	    var dateObj = new Date($scope.s);
	    $scope.dateToShow = $filter('date')(dateObj,'yyyy-MM-dd');
	    console.log($scope.dateToShow);
	}
</script>

<div class="container-fluid">

	<div class="row">
		<notification-shade/>
	</div>

	<div class="row" ng-hide="notification">

		<table class="table table-striped">
			<thead>
			<tr>
				<th>App</th>
				<th>App Version</th>
				<th>Device</th>
				<th>OS</th>
				<th>OS Version</th>
				<th>City</th>
				<th>Country</th>
				<th>First Used</th>
				<th>Last Used</th>
				<th>Location Updated</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entry in structure.entries">
					<!-- Easy way to fetch ICONS for devices. CSS selector is at the top of this page in <head> -->
					<td><img alt="{{entry.appName}}" class="icon" src="./images/{{entry.appName}}.png"/></td>
					<td ng-bind="entry.appVersion"></td>
					<td><img alt="{{entry.deviceCategory}}" class="icon" src="./images/{{entry.deviceCategory}}.png"/></td>
					<td><img alt="{{entry.deviceOS}}" class="icon" src="./images/{{entry.deviceOS}}.png"/></td>
					<td ng-bind="entry.deviceVersion"></td>
					<td ng-bind="entry.city"></td>
					<td ng-bind="entry.country"></td>
					<!-- <td ng-bind="entry.firstUsed"></td> -->
					<td>{{entry.firstUsed| date:'dd MMM yyyy'}}</td>
					<!--<td ng-bind="entry.lastUsed"></td> -->
					<td>{{entry.lastUsed| date:'dd MMM yyyy'}}</td>
					<!--<td ng-bind="entry.locationLastUpdate"></td> -->
					<td>{{entry.locationLastUpdate| date:'dd MMM yyyy HH:MM'}}</td>
				</tr>
			</tbody>
		</table>

	</div>

</div>

<script>

	(function () {
		"use strict";

		var app = angular.module('CrmApp', ['OneSdkBridge', 'CrmService']);

		app.controller('CrmAppCtrl', function ($scope, $window, $q, sdk, crmInitializer) {

			/**
			 * Sets the 'notification' object used by &lt;notification-shade&gt; to display progress, errors & warnings
			 * @param severity
			 * @param summary
			 * @param detail
			 */
			function setNotification(severity, summary, detail) {
				$scope.notification = (!severity) ? null : {
					severity: severity,
					summary: summary,
					detail: detail
				};
			}

			// show the loading spinner
			setNotification("in-progress");

			crmInitializer().then(function(crmService) {

				var structureServiceName = crmService.getPanelSetting('structure');
				var structureFormat = crmService.getPanelSetting('format');

				// get the customer key or tid to initialize the customerApi
				var customer = crmService.getCustomerInitObj();

				if (!customer) {
					setNotification("error", "No customer identifer provided", "Panel requires a customer key (or tid) to operate");
					return;
				}

				var one = sdk(crmService);

				var customerApi = one.customerApi(customer);

				customerApi.getStructureData(structureServiceName, structureFormat).then(function (response) {

					// clear notitication shade
					setNotification(null);

					$scope.structure = response;

				}).catch(function (response) {

					setNotification("error", "Error occurred for Structure: " + structureServiceName, response.statusMessage);

				});

			}).catch(function (response) {

				setNotification("error", "Error initializing CRM integration. " + response.statusMessage);

			});

		});

	}());

</script>

</body>
</html>
