<head>
<meta http-equiv="Refresh" content="3; url=https://play.google.com/store/apps/details?id=com.appseleration.android.selfcare">
</head>
<body>
<img id='imagePixel' src=""/>
Please wait to be redirected to the Google Play Store
<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var email = url.searchParams.get("email");
    var linkParams = encodeURI('app://meinvodafone/install?ck=' + email + '&email=' + email); 
    document.getElementById('imagePixel').src = 'https://onedemo.thunderhead.com/one/rt/track/ONE-ZAYHHXDEOY-4969/pixel?uri=' + linkParams;
    //window.location = "https://play.google.com/store/apps/details?id=com.appseleration.android.selfcare;"
</script>
</body> 